{% block footer %}
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <!--Column1-->
                    <div class="footer-pad">
                        <ul class="list-unstyled">
                            <li>
                                <a class="navbar-brand" href="#">
                                    <img src="{{ asset('bundles/appointment/img/white.svg') }}" width="150" height="150" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <!--Column1-->
                    <div class="footer-pad">
                        <ul class="list-unstyled">
                            <li><a href="#"></a>about us</li>
                            <li><a href="#">contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <!--Column1-->
                    <div class="footer-pad">
                        <ul class="list-unstyled">
                            <li><i class="fab fa-facebook-f"></i> <a href="#"> facebook</a></li>
                            <li><i class="fab fa-twitter"></i><a href="#"> twitter</a></li>
                            <li><i class="fab fa-instagram"></i><a href="#"> instagram</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <!--Column1-->
                    <div class="footer-pad">
                        <p> kranestraat 104<br>
                            2512 AE Den Haag<br>
                            +31 07 3922 720
                        </p>
                    </div>
                </div>
                <div class="col">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h6>Subscribe to new</h6>
                        <ul class="list-unstyled">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="text" placeholder="email adress">
                                <button class="btn btn-outline-light  my-2 my-sm-0" type="submit">OK</button>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="flex-container">
            <div class="row">
                <div class="col-xs-12">
                    <!--Footer Bottom-->
                    <p class="text-xs-center">&copy; Henry Barima</p>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}